@charset "UTF-8";

/* common */
html {
	--ts-font-weight-400: 400; --ts-font-weight-500: 500; --ts-font-weight-600: 600; --ts-font-weight-700: 700; 
	--ts-upper-gap: 24px; --ts-lower-gap: 24px; --ts-content-padding-left:24px; --ts-content-padding-right:24px;  
	--ts-right-vertical-align: center; 
	--ts-button-width: 100%; --ts-button-display: flex; --ts-button-border-radius: 16px; --ts-button-min-width: 96px; 
	--ts-button-height: 56px; --ts-button-max-height: 56px; --ts-button-padding: 15px 16px; --ts-button-font-size:var(--toss-font-size-17); 
	--ts-button-line-height: var(--toss-line-height-17); --ts-button-dimmer-background: rgba(0, 0, 0, 0.26); --ts-button-disabled-all-opacity: 0.26; --ts-button-background-color: var(--adaptiveGreen600); 
	--ts-button-color: #fff; --ts-button-loader-animation-width: 26px; --ts-button-loader-animation-height: 26px;
	--ts-button-loader-animation-margin-right: 8px; 
	--ts-bottom-cta-padding-bottom: 16px; --ts-bottom-cta-padding: 0 20px 16px 20px; --ts-bottom-cta-background: var(--adaptiveBackground);
	--ts-text-field-container-children-gap: 12px 8px; --ts-text-field-container-children-padding: 24px; --ts-text-field-container-span-padding-bottom: 6px; --ts-text-field-label-color: var(--adaptiveGrey800); --ts-text-field-hint-color: var(--adativeGrey600);
	--ts-text-field-line-border-color: var(--adaptiveGrey100); --ts-text-field-webkit-text-fill-color: none; --ts-text-field-line-placeholder-color: var(--adaptiveGrey500); --ts-text-field-line-color: var(--adaptiveGrey800);
	--ts-list-header-flex-direction: column; --ts-list-header-margin-top: 3px; --ts-list-header-margin-bottom: 0px;
	--ts-top-area-lottie-margin-bottom: 16px; --ts-lottie-ico-width: 60px; --ts-lottie-ico-height: 60px;
	--ts-lottie-img-width: 360px; --ts-lottie-img-height: 360px;
}

.ts--top-wrapper {display: flex; flex-direction: column; min-width:0; width: 100%; padding-top: var(--ts-upper-gap); padding-bottom: var(--ts-lower-gap);}
.ts--top-area {display: flex; flex-direction:column; flex: 1 1 0%; -webkit-box-pack: center; justify-content: center; min-width: 0; padding-left: var(--ts-content-padding-left); padding-right: var(--ts-content-padding-right);}

/* Lottie icons */
.ts--top-area .ts--error-spot__ico {margin-bottom: var(--ts-top-area-lottie-margin-bottom);}
.lottie {width: 100%; height: 100%;}
[class*="-spot__ico"].lottie {max-width: var(--ts-lottie-ico-width); max-height: var(--ts-lottie-ico-height);}
[class*="__image"].lottie {max-width: var(--ts-lottie-img-width); max-height: var(--ts-lottie-img-height);}
[class*="__loading"]:not(.ts--bottom-cta__loading).lottie {max-width: 160px; max-height: 160px;}

/* icons */
[class*="ts--icon-"] {display: flex; align-items: center; justify-content: center; background-repeat: no-repeat; background-position: center center; background-size: cover;}
[class*="ts--icon-check"] {width: 24px; height: 24px;}
[class*="ts--icon-check"] svg {width: 100%; height: 100%;}
[class*="ts--icon-check"] svg path {stroke: var(--adaptiveGrey200, #e5e8eb); stroke-width: 2.4; stroke-linecap: round; stroke-linejoin: round; fill: none; z-index:-1; stroke-dasharray:1px 1px; stroke-dashoffset: 0;}
.ts--icon-check-blue svg path {stroke:rgba(49, 130, 246, 1);}
.ts--icon-arrow-right {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-arrow-right-mono.svg');}
.ts--icon-arrow-left {width: 16px; height: 16px; background-image:url('../img/ts_ico/icon-arrow-left-small.svg');}
.ts--icon-arrow-down {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-arrow-down-mono.svg'); }
.ts--icon-monoX {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-x-mono.svg'); }
.ts--icon-circleX {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-x-circle-mono.svg'); }
.ts--icon-circleCheck {width: 42px; height: 42px; background-image:url('../img/ts_ico/icon-check-circle-green.png'); }
.ts--icon-circleWarning {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-warning-circle.svg'); }
.ts--icon-percent {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-percent-circle-blue.svg'); }
.ts--icon-moneybag {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-money-bag-green.svg'); }
.ts--icon-dots {width: 42px; height: 42px; background-image:url('../img/ts_ico/icon-dots-fill.png'); }
.ts--icon-question {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-question-circle.svg'); }
.ts--icon-eye {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-eye-on-mono.svg'); }
.ts--icon-eye.eye--off {width: 24px; height: 24px; background-image:url('../img/ts_ico/icon-eye-off-mono.svg'); }

/* title */
[class*="ts--subtitle"] {margin:0; vertical-align:middle; max-width: 100%; display: -webkit-box; word-break:keep-all;/*white-space: pre-wrap;*/}
[class*="ts--subtitle"] > span {vertical-align: middle; max-width: 100%; margin:0; padding:0; position:relative;}
.ts--subtitle1 {font-size:22px;font-size:var(--toss-font-size-22); line-height:0; font-weight:var(--ts-font-weight-700); color:var(--adaptiveGrey900);}
.ts--subtitle1 > span {font-size:var(--toss-font-size-22);line-height:var(--toss-line-height-22); font-weight:var(--ts-font-weight-700); color: var(--adaptiveGrey900);}
.ts--subtitle2 {display: flex; flex-direction:column; padding-top: 4px;font-size:17px;font-size:var(--toss-font-size-17);color:var(--adaptiveGrey600);}
.ts--subtitle2 > span {font-size:var(--toss-font-size-17);line-height:var(--toss-line-height-17); font-weight:var(--ts-font-weight-500);color:var(--adaptiveGrey600);}

/* text */
.ts--grey-inbox-text {margin: 0 20px; border-radius: 16px; padding: 14px 15px 16px; background-color: var(--adaptiveGrey100);}
.ts--grey-inbox-text span {color: var(--adaptiveGrey700); font-weight: var(--ts-font-weight-500); display: inline-block; font-size: var(--toss-font-size-13); line-height: var(--toss-line-height-13);}

/* badge */
[class*="ts--address-"] {margin-top: 2px; -webkit-box-align: center; display: flex; flex-direction: row; -webkit-box-pack: start; justify-content: flex-start; align-items: center;}
[class*="ts--address-"] > .badge {margin-right: 6px;}
[class*="ts--address-"] > span[role="text"] {color: var(--adaptiveGrey800); max-width: 100%; line-height: 1.3; overflow: hidden; text-overflow: ellipsis; font-size: var(--toss-font-size-13); font-weight: var(--ts-font-weight-400); display: inline-block;}
.ts--address-new {margin-top: 4px;}
.ts--address-old > span[role="text"] {color: var(--adaptiveGrey500);}

/* list */
.ts--list-header {display: flex; flex-direction: var(--ts-list-header-flex-direction); padding: 24px 0 8px; width: 100%; min-width: 0; user-select: none; word-break: keep-all; white-space: pre-wrap;}
.ts--list-title {margin-top: var(--ts-list-header-margin-top); margin-bottom: var(--ts-list-header-margin-bottom); display: flex; -webkit-box-pack: justify; justify-content: space-between; width: 100%;}
.ts--list-title-content {display: flex; -webkit-box-align: center; align-items:center; padding-left: 24px; height: fit-content; font-weight: var(--ts-font-weight-700); color: var(--adaptiveGrey600); font-size: var(--toss-font-size-17);}
.list-row__content > span[role="text"] + span[role="text"] {margin-top: 3px;}
.list-row__right + .ts--icon-arrow-right {margin-left: 12px;}
.list-row__content > span[role="text"],
.list-row__right > span[role="text"] {font-size: var(--toss-font-size-17); line-height:1.3; display: inline-block; font-weight: 500; color: var(--adaptiveGrey700); max-width: 100%; overflow:hidden; text-overflow: ellipsis;}
.list-row__content > span[role="text"].top--eyebrow {font-size: var(--toss-font-size-13); color: var(--adaptiveGrey700); font-weight:var(--ts-font-weight-500);}
.list-row__content > span[role="text"].bold--highlight {font-size: var(--toss-font-size-17); font-weight: var(--ts-font-weight-700); color: var(--adaptiveGrey800);}
.list-row__content > span[role="text"].bottom--eyebrow {font-size: var(--toss-font-size-13); color: var(--adaptiveGrey600); font-weight: var(--ts-font-weight-500);}
.list-row__content > span[role="text"].bottom--info {font-size: var(--toss-font-size-15);  font-weight: var(--ts-font-weight-400);}
.list-row__content-and-right-container .ts--icon-arrow-right {width: 10px;}
.ts--greybox {padding: 8px 0; border-radius: 24px; background-color: var(--adaptiveGrey100);}
.list-row__right > span[role="text"].green500-text {color: var(--adaptiveGreen500);}

.ts--list-row .list-row__content .postal-code {color: var(--adaptiveGrey800); display:inline-block; font-weight: 500; font-size:15px;font-weight:var(--ts-font-weight-500);line-height:1.3;}

.post-list-wrapper .post-header {font-size: var(--toss-font-size-16); line-height: var(--toss-line-height-16);}
.post-list--item+.post-list--item{margin-top:8px}

.ts--agreement-list {list-style: none; margin: 0; padding: 0;}
.ts--agreement-item {display: flex; padding: 6px 24px;}
.ts--agreement-item .ts--checkbox__field {margin-right: 8px;}
.ts--agreement-item {display: flex;}
.ts--agreement-item a {-webkit-flex-box:1; flex: 1 1 auto; display: flex; justify-content: space-between; color: var(--adaptiveGrey700); font-size: var(--toss-font-size-15); font-weight: var(--ts-font-weight-400);}
.ts--agreement-item .ts--agreement-arrow-right::after {content: ''; width: 10px; height: 24px; background-image:url('../img/ts_ico/icon-arrow-right-mono.svg'); background-repeat: no-repeat; background-size: cover; background-position: center center; margin-left: 7px;}

/* form */
.ts--form-group::before {content:''; display:block; height:24px; width: 100%;}
.ts--text-field-container {padding: 16px 0;}
.ts--text-field-container .form-group__label {line-height: var(--toss-line-height-13);}
.ts--text-field-container:focus-within .form-group__label {color:#1b64da}
.ts--text-field-container .text-field {height: auto; display: flex; -webkit-box-align: center; border-top:none; border-right: none; border-left:none; border-image: initial; border-bottom: 2px solid var(--ts-text-field-line-border-color); background-color: transparent; padding: 0 0 4px; position:relative; overflow: hidden; font-size: var(--toss-font-size-22); line-height: var(--toss-line-height-22); font-weight: 600; color: var(--ts-text-field-line-color); -webkit-text-fill-color: var(--ts-text-field-line-placeholder-color); width: 100%; border-radius: 0; box-shadow: none;}
.ts--text-field-container .text-field:before {display: none;}
.ts--text-field-container .text-field.text-field--focused {border-bottom-color: #4593fc;}
.ts--text-field-underline {resize: none; outline: none; border: none; background-color: transparent; padding: 0; margin: 0; font-size: inherit; line-height: inherit; color: inherit; width: 100%; caret-color: rgb(49, 130, 246); font-weight: inherit;}
.ts--text-field-container .text-field input {color: var(--adaptiveGrey800); -webkit-text-fill-color: var(--adaptiveGrey800);}
.ts--text-field-container .text-field input::placeholder {color: var(--ts-text-field-line-placeholder-color); -webkit-text-fill-color: var(--ts-text-field-line-placeholder-color);}
.ts--input-clear {background: transparent; border: none; position: absolute; right: 0; appearance: none; display: none; align-items: center; justify-content: center;}
.ts--input-clear span {margin: -1px; border: 0; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; width: 1px; height:1px; appearance: none;}
.ts--input-clear::after {content:''; width: 24px; height: 24px; background-image: url(../img/ts_ico/icon-x-circle-mono.svg); display: inline-flex;}
.ts--input-clear.button-on {display: inline-flex;}

.ts--switch-buttons {position: relative; list-style:none; display: flex; background-color: var(--adaptiveGrey100); padding: 4px 5px; border-radius: 14px; width: 100%;}
.ts--switch-buttons::before {content: ''; position: absolute; width: calc(50% - 8px); height: calc(100% - 8px); flex: 0 0 50%; display: block; left: 4px; top: 4px; z-index: 1; background-color: #fff; box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 0px; border-radius: 10px; transition: all 200ms ease;}
.ts--switch-buttons.switch-on-right::before {left: 50%;}
.ts--switch-buttons li {position: relative; display: flex;  flex: 1 1 0%; justify-content: center; align-items: center; -webkit-box-align: center; -webkit-box-pack: center; overflow: hidden;}
.ts--switch-buttons input[type="radio"] {position:absolute; padding: 0; margin: -1px; border: 0; overflow: hidden; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; appearance: none;}
.ts--switch-buttons input[type="radio"]:checked + .ts--switch-button-label {color: var(--adaptiveGrey800); font-size: var(--toss-font-size-17); line-height: var(--toss-line-height-17); font-weight: var(--ts-font-weight-600); word-break: keep-all; white-space: pre-wrap;}
.ts--switch-buttons li .ts--switch-button-label {width: 100%; padding: 7px 12px; display: flex; align-items: center; justify-content: center; cursor: pointer; z-index: 2; color: var(--adaptiveGrey600); font-weight: var(--ts-font-weight-500);}


/* checkbox */
.ts--checkbox__field {position: relative; display: flex; width: 24px; height: 100%;}
.ts--checkbox__input {position:absolute; padding: 0; margin: -1px; border: 0; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; width: 1px; height:1px; appearance: none;}
.ts--checkbox__label {margin: 0; cursor: pointer; width: 24px; height: 24px;}
.ts--checkbox__label svg path.check--base {stroke: var(--adaptiveGrey200, #e5e8eb); stroke-width: 2.4; stroke-linecap: round; stroke-linejoin: round; fill: none; z-index:-1; stroke-dasharray:1px 1px; stroke-dashoffset: 0;}
.ts--checkbox__label svg path:not(.check--base) {stroke: rgba(229, 232, 235, 1); stroke-width: 2.4; stroke-linecap: round; stroke-linejoin: round; fill: none; stroke-dasharray:0 1px; stroke-dashoffset: 0; transition: all 0.6s ease;}
.ts--checkbox__input:checked + .ts--checkbox__label svg path:not(.check--base) {stroke:rgba(49, 130, 246, 1); stroke-dasharray:1px 1px;  stroke-dashoffset: 0;}

.ts--grey-button-group {display: flex; -webkit-box-pack: start;}
.ts--grey-button-group > button {min-width: 52px; height: calc(1em + 19px); max-height: 48px; position: relative; white-space: nowrap; font-weight: 600; -webkit-font-smoothing: antialiased; user-select: none; border: 0 solid transparent; transition:all .1s ease-in-out 0s; overflow: hidden; transform: translateZ(0px); padding: 8px 10px; text-decoration: none; color: var(--adaptiveGrey700); background-color: var(--tDarkWeakButtonBackground); font-size: var(--toss-font-size-13); line-height: var(--toss-line-height-13); border-radius: 6px; display: var(--ts-button-display, inline-flex); width: auto;}
.ts--grey-button-group button:not(:last-of-type) {margin-right: 8px;}
.ts--grey-button-group button span {display: inline-flex;}
.ts--bottom-wrapper {width: 100%; position:fixed; left:50%; right: auto; bottom: 0; z-index: 50; transform: translateX(-50%);}
.ts--bottom-wrapper::before {content:''; height: 34px; display: block; background: var(--tGradientToTop);}
.ts--bottom-wrapper .tds-mobile-bottom-cta--a__content {padding: var(--ts-bottom-cta-padding); padding-bottom: 16px;}
.ts--bottom-cta__button {width: var(--ts-button-width); height: var(--ts-button-height); -webkit-box-align: center; justify-content: center; align-items:center; display: var(--ts-button-display); background-color: var(--ts-button-background-color); border-radius: var(--ts-button-border-radius); font-size: var(--ts-button-font-size); line-height: var(--ts-button-line-height); color: var(--ts-button-color); transition:color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, border-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s, opacity 0.1s ease-in-out 0s; font-weight: 600; -webkit-box-pack: center; position: relative; white-space: nowrap; user-select:  none; overflow: hidden; transform: translateZ(0px); border: 0 solid transparent;}
.ts--bottom-cta__button:disabled {cursor: default; pointer-events: none; opacity:var(--ts-button-disabled-all-opacity);}
.ts--bottom-cta__button:not(:disabled):active {background-color: var(--button-active-background-color, var(--button-background-color))}
.ts--bottom-cta__button:hover, .ts--bottom-cta__button:focus {text-decoration: none;}
.ts--bottom-cta__content {display: flex; -webkit-box-align: center; justify-content: center; align-items:center;}
.ts--bottom-cta__loading {width:0; height: var(--ts-button-loader-animation-height); transition: all .1s ease-in-out; opacity:0;}
.ts--bottom-cta__loading.on--load {width: calc(var(--button-loader-animation-width) + 4px); margin-right: var(--ts-button-loader-animation-margin-right); opacity: 0.999; transition: all .1s ease-in-out; }
.ts--bottom-note {width: 100%; text-align: center; color: var(--adaptiveGrey700);}
* ~ .ts--bottom-note {padding-top: 16px;}
