@charset "UTF-8";

/* common */
html {--ts-font-weight-400: 400; --ts-font-weight-500: 500; --ts-font-weight-600: 600; --ts-font-weight-700: 700; --ts-upper-gap: 24px; --ts-lower-gap: 24px; --ts-content-padding-left:24px; --ts-content-padding-right:24px; --ts-right-vertical-align: center;}

.ts--top-wrapper {display: flex; flex-direction: column; min-width:0; width: 100%; padding-top: var(--ts-upper-gap); padding-bottom: var(--ts-lower-gap);}
.ts--top-area {display: flex; flex-direction:column; flex: 1 1 0%; -webkit-box-pack: center; justify-content: center; min-width: 0; padding-left: var(--ts-content-padding-left); padding-right: var(--ts-content-padding-right);}

/* title */
[class*="ts--subtitle"] {margin:0; vertical-align:middle; max-width: 100%; display: -webkit-box; word-break:keep-all;/*white-space: pre-wrap;*/}
[class*="ts--subtitle"] > span {vertical-align: middle; max-width: 100%; margin:0; padding:0; position:relative;}
.ts--subtitle1 {font-size:22px;font-size:var(--toss-font-size-22); line-height:0; font-weight:var(--ts-font-weight-700); color:var(--adaptiveGrey900);}
.ts--subtitle1 > span {font-size:var(--toss-font-size-22);line-height:var(--toss-line-height-22); font-weight:var(--ts-font-weight-700); color: var(--adaptiveGrey900);}
.ts--subtitle2 {display: flex; flex-direction:column; padding-top: 4px;font-size:17px;font-size:var(--toss-font-size-17);color:var(--adaptiveGrey600);}
.ts--subtitle2 > span {font-size:var(--toss-font-size-17);line-height:var(--toss-line-height-17); font-weight:var(--ts-font-weight-500);color:var(--adaptiveGrey600);}

/* form */
.ts--form-group::before {content:''; display:block; height:24px; width: 100%;}

.ts--bottom-wrapper {position:fixed; left:50%; right: auto; bottom: 0; z-index: 50; transform: translateX(-50%); padding-bottom: 16px;}
.ts--bottom-note {width: 100%; text-align: center; color: var(--adaptiveGrey700);}